.wrapper {
    position: relative;
    overflow: hidden;
    width: 20rem;
    height: 20rem;     
}

#slide {
    position: absolute;
    left: -20rem;
    width: 20rem;
    height: 20rem;
    background: blue;
    transition: 1s;
}

.wrapper:hover #slide {
    transition: 1s;
    left: 0;
}