.fa-github-square{
    font-size:48px;
    color:#6e5494;
}

.fa-linkedin-square {
    font-size:48px;
    color: rgb(40,103,178);
}

.fa-facebook-square{
    font-size:48px; 
    color: rgb(66, 103, 178);
}

.fa-envelope-square {
    font-size:48px; 
    color: gray;
}